
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "Philippe Rajalu" %></title>
        <meta name="description" content="<%= current_page.data.description || "Consultant région Ouest" %>">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <meta name="author" content="www.benrajalu.net" />
        <meta name="application-name" content="Philippe Rajalu" />


        <%= stylesheet_link_tag 'global.css' %>
        <!--[if lt IE 9]>
        <%= stylesheet_link_tag 'ie.css' %>
        <![endif]-->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" type="image/ico" href="./favicon.ico">
        <%= javascript_include_tag 'vendor/modernizr-2.6.1.min.js' %>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <nav id="mainNav">
            <a href="index.html"><img src="img/logo.png" alt="Philippe Rajalu consultant organisation, ressources humaines, gestion" /></a>
            <ul>
                <Li><%= magic_link_to "Accueil", "index.html" %></li>
                <Li><%= magic_link_to "A propos", "a-propos.html" %></li>
                <Li><%= magic_link_to "Prestations", "prestations.html" %></li>
                <Li><%= magic_link_to "Journal", "journal.html" %></li>
                <li><a href="#contact" class="popTrigger">Contactez-moi</a></li>
            </ul>
            <button id="toggleMenu" title="Menu"><i></i></button>
        </nav>

        <%= yield %>

        <footer id="footer" class="row">
            <a href="#" target="_blank" class="button">Rejoignez-moi sur Facebook</a>
        </footer>

        <div id="contact" class="mfp-hide popUp">
            <h3>Contactez-moi</h3>
            <hr />
            <p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
            <a href="mailto:lorem@ipsum.com" class="button">Envoyez-moi un mail</a>
            <p><strong>Telephone: 06 XX XX XX XX</strong></p>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <%= javascript_include_tag 'vendor/jquery.flexslider.js' %>
        <%= javascript_include_tag 'vendor/i18n/fr.js' %>
        <%= javascript_include_tag 'vendor/parsley.js' %>
        <%= javascript_include_tag 'vendor/jquery.magnific-popup.min.js' %>
        <%= javascript_include_tag 'vendor/jquery.stellar.min.js' %>
        <%= javascript_include_tag 'plugins.js' %>

    	<script>
    		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    		ga('create', 'UA-XXXXXX-4', 'auto');
    		ga('send', 'pageview');
    	</script>
    </body>
</html>
